<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <queries>
        <package android:name="com.topjohnwu.magisk" />
        <package android:name="io.github.vvb2060.magisk" />
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:directBootAware="true"
        android:fullBackupOnly="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="Magica"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.DayNight"
        android:zygotePreloadName="io.github.vvb2060.puellamagi.AppZygote">
        <service
            android:name=".MagicaService"
            android:directBootAware="true"
            android:exported="true"
            android:isolatedProcess="true"
            android:useAppZygote="true">
        </service>

        <service
            android:name=".CommandService"
            android:directBootAware="true"
            android:exported="false"
            android:foregroundServiceType="specialUse">
        </service>

        <receiver
            android:name=".BootCompletedReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".CommandReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="io.github.vvb2060.puellamagi.action.EXEC" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
